<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>文章详情</title>
		<link rel="stylesheet" type="text/css" href="./css/base.css"/>
		<link rel="stylesheet" type="text/css" href="./css/blog_detail.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<header class="header">
			<div class="container">
				<a href="/" class="title">天劫的个人博客|技术博客</a>
				<ul class="menu">
					<li><a href="/">首页</a></li>
					<li><a href="/sitemap.html">地图</a></li>
					<li><a href="/about.html">关于</a></li>
					<li><a href="/guest-book.html">留言</a></li>
				</ul>
				<div class="search_bar" id="search-list">
					<input type="text" v-model="keyWord" placeholder="输入关键词查找">
					<button @click="search">搜索</button>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="content-left">
				<div class="blog" id="blog-detail">
					<div class="blog-title">{{title}}</div>
					<div class="blog-msg">作者: 天劫 标签: {{tags}} 发布于: {{ctime | formatDate}} 浏览({{views}})</div>
					<div class="blog-content" v-html="content"></div>
				</div>
				<div class="blog-comments" id="blog-comments">
					<span class="blog-comments-msg"><b>当前文章有 {{count}} 条留言</b></span>
					<div class="blog-comment" v-for="item in comments">
						
						<span v-if="item.parent_name==0" class=""><b>{{item.user_name}}</b>：发表于{{item.ctime | formatDate}}<a href="javascript:;" @click="replyComment(item.id,item.user_name)">[回复]</a></span>
						<span v-else class=""><b>{{item.user_name}}@{{item.parent_name}}</b>：发表于{{item.ctime | formatDate}}<a href="javascript:;" @click="replyComment(item.id,item.user_name)">[回复]</a></span>
						<div>{{item.commits}}</div>
					</div>
				</div>
				<div class="send-comments" id="send-comments">
					<span>发表评论</span>
					<div>
						<input type="hidden" name="" id="comment-reply" value="-1" />
						<input type="hidden" name="" id="comment-reply-name" value="0" />
						<input type="text" placeholder="昵称" id="comment-name">
						<input type="text" placeholder="邮箱(评论被回复时你都能收到邮件提醒)" id="comment-email">
					</div>
					<div>
						<textarea placeholder="无意义的内容我可能不会回复你" id="comment-content" ></textarea>
					</div>
					<div class="comment-code">
						<input placeholder="验证码" type="text" name=""   id="comment-code"  value="" />
						<span v-html="vCode" @click="changeCode"></span>
					</div>
					<button @click="sendComment">提交评论</button>
				</div>
			</div>
			<div class="content-right">
				<div class="right-module" id="random-tags">
					<div>随机标签云</div>
					<a :href="'/tagList.html?tag='+item.title" v-for="item in tags"   :style="{color:randomColor(),fontSize:randomSize()}">{{item.title}}</a>
				</div>
				<div class="right-module" id="hot">
					<div>最近热门</div>
					<ul>
							<li v-for="item in hotList"><a :href="'/blog_detail.html?blog_id='+item.id">{{item.title}}</a></li>
					</ul>
				</div>
				<div class="right-module" id="commits">
					<div>最新评论</div>
					<ul>
						<li v-for="item in commitsList">
							<div>
								<span>{{item.name}}</span>
								<span class="pull-right">{{item.date | formatDate}}</span>
							</div>
							<p>{{item.content}}</p>
						</li>
					</ul>
				</div>
				<div class="right-module" id="links">
					<div>友情链接</div>
					<span v-for="item in linkList"><a :href="item.href">{{item.name}}</a></span>
				</div>
			</div>
		</div>
		<footer class="footer">
			<ul>
				<li><a href="">c++</a></li>
				<li><a href="">c</a></li>
				<li><a href="">java</a></li>
				<li><a href="">c#</a></li>
				<li><a href="">vb</a></li>
				<li><a href="">html</a></li>
				<li><a href="">css</a></li>
				<li><a href="">js</a></li>
				<li><a href="">html5</a></li>
				<li><a href="">node</a></li>
				<li><a href="">vue</a></li>
				<li><a href="">rect</a></li>
			</ul>	
			<p>Copyright © 2010-2019 天劫个人博客 All rights reserved 站长统计</p>
		</footer>
	</body>
	<script src="js/axios.js"></script>
	<script src="js/base.js"></script>
	<script src="js/blog_detail.js"></script>
</html>
